@use "@/style/function.scss" as *;

$buttonTypes: "default", "primary", "success", "warning", "info", "danger";

@each $type in $buttonTypes {
    .ex-button--#{$type} {
        background-color: getHSLColor(--ex-#{$type});
    }
    .ex-button--#{$type}.outline {
        color: getHSLColor(--ex-#{$type});
        background-color: transparent;
        &:hover {
            background-color: getHSLColor(--ex-#{$type});
            color: white;
        }
    }
}

.ex-button--colored {
    background-color: var(--ex-button-color);
    color: white;
    &.outline {
        opacity: 1;
        background-color: white;
        color: var(--ex-button-color);
        &:hover {
            color: white;
            background-color: var(--ex-button-color);
        }
    }
}

.ex-button.text {
    opacity: 1;
    color: gray;
    &.ex-button--colored {
        color: var(--ex-button-color);
    }
    background-color: transparent;
    &:hover,
    &:focus {
        opacity: 0.8;
    }
}
