@import '@unocss/reset/tailwind.css';

:root {
    --ex-base-color: 0, 10%, 20%;
    --ex-layer: 0, 0%, 100%;
    --ex-border-opacity: 0.12;
    --ex-overlay-color: 0, 0%, 0%;
    --ex-overlay-opacity: 0.35;

    --ex-default: 265, 97.7%, 66.3%;
    --ex-primary: 265, 97.7%, 66.3%;
    --ex-success: 94.5, 100%, 39.6%;
    --ex-info: 200.1, 100%, 54.3%;
    --ex-warning: 42.4, 100%, 50%;
    --ex-danger: 358.3, 100%, 64.9%;

    // button
    --ex-button-hover-opacity: 0.85;

    // text emphasis
    --ex-text-emphasis-high-opacity: 0.87;
    --ex-text-emphasis-medium-opacity: 0.68;
    --ex-text-emphasis-light-opacity: 0.38;
}

:root.dark {
  --ex-base-color: 0, 0%, 94%;
  --ex-layer: 0, 0%, 12%;
  --ex-overlay-opacity: 0.5;

  --ex-primary: 261, 73%, 66.3%;
  --ex-success: 94.5, 73%, 39.6%;
  --ex-info: 200.1, 73%, 54.3%;
  --ex-warning: 42.4, 73%, 50%;
  --ex-danger: 358.3, 73%, 64.9%;
}


html, body {
  color: hsla(var(--ex-base-color), 0.68);

  // Disable mobile tap blue color
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsla(var(--ex-base-color), 0.87)
}

 // Remove outline

.e-btn,
input,
select,
textarea {
  &:focus {
    outline: none;
  }
}
